/* Main.css*/

.main {
	display: flex;
	margin-top: 1rem;
}

.navigation {
	flex-basis: 20%;
	min-width: 300px;
	/* background: rgb(214,187,151); */
	background: linear-gradient( #f7e7ce 5%, white 70%);
	border-top: 1.5rem solid white;
}

.movies {
	flex-basis: 80%;
	/* background: white; */
	border: 0.75rem solid #5d3f6a;
	border-radius: 30px;
	border-top: 1rem;
	background: linear-gradient( #5d3f6a 2%, whitesmoke 35%);
	/* 135deg, */
}
