/* Selection.css 
background: #5d3f6a;
color: rgba(255,255,255, 0.75);
*/

.selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    
  }
  
  .selection label {
    margin-bottom: 10px;
    color: #555;
    
  }
  
  .selection select {    
    max-width: 100%;
    background: #5d3f6a;
    color: rgba(255,255,255, 0.75);
    border: 5px solid #5d3f6a;
    border-radius: 25px;
    text-align: center;
       
  } 

  /* https://www.w3docs.com/learn-html/html-select-tag.html */
  .selection option {    
    font-size: 110%;   
    line-height: 150%;
       
  } 
